.height {
    height: fit-content;
}

.margin-left1 {
    margin-left: 1.5rem;
}

.margin-top {
    margin-top: 5rem;
}

.start-27 {
    left: 25%;
}

.pos {
    width: 42rem;
    margin-bottom: 1rem;
}

/* .custom {
    
}
   */
  